{% extends "media.html" %}
{% block title %}{{ usr.name }}'s Profile{% endblock %}
{% block content %}
    <h1>{{ usr.name }}'s Profile</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith%}
    <img href="{{ usr.avatar() }}">
    <img href="{{ usr.avatar() }}">
    <img href="{{ usr.avatar() }}">
    <img href="{{ usr.avatar() }}">
    <img href="{{ usr.avatar() }}">
    <img href="{{ usr.avatar() }}">
    <form action="#" method="POST">
        <div class="form-group">
            <label for="formControlTextarea1">About {{usr.name}}: </label>
            <textarea class="form-control" id="formControlTextarea1" rows="7" readonly>{{usr.about_me}}</textarea>
        </div>
        <div class="form-group">
            <label for="inputEmail">{{usr.name}}'s' Email</label>
            <input type="email" class="form-control" id = "exampleInputEmail" name="email" placeholder="Enter email" value = "{{usr.email}}" readonly>
        </div>
    </form>
    <p>Following: {{following}}</p>
    <p>Followers: {{followers}}</p>
    <form method="POST">
    {% if us.is_following(usr) %}
    <input type="submit" name="button" value="Unfollow">
    {% endif %}
    {% if not us.is_following(usr) %}
    <input type="submit" name="button" value="Follow">
    {% endif %}
    </form>
    <h3>POSTS</h3>
    {% for post in given_posts%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img href="{{post.author.avatar()}}">
            <h5 class="card-title">{{post.title}}</h5>
            <a href="/media/profile/{{post.author.name}}">
                <h6 class="card-subtitle mb-2 text-muted">@{{post.author.name}}</h6>
            </a>
            <p class="card-text">{{post.body}}</p>
        </div>
    </div>
    {% endfor %}
    <hr>
    {% if prev_url %}
    <a href="{{prev_url}}" class="btn btn-primary">Previous</a>
    {% endif %}
    {% if next_url %}
    <a href="{{next_url}}" class="btn btn-primary">Next</a>
    {% endif %}
{% endblock %}